*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    background-color: #ffff;
    color: rgb(107, 102, 102);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

header{

    box-sizing: content-box;
}



/*----------------------------------------------------------*/
/*   REUSABLE COMPONENTS    */
/*----------------------------------------------------------*/
 .long-copy{
  margin-bottom: 4%;

}

.span_1_of_4 > p {
 ;
}
.row {
    max-width: 1140px;
    margin: 0 auto ;
  }
  
  section{
    padding: 50px 0;
  }
  
  /* FONT */

  h1,h2,h3 { 
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
  }
  
  h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #ffff;
    font-size: 240%;
  }
  
  h2{
    margin-bottom: 30px;
    text-align: center;
    font-size: 180%;
    word-spacing: 2px;
  
  }
  
  h3{
    font-size: 110%;
    margin-bottom: 15px;
  }
  
  h2:after{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 15px;
  }

  /*----------------------------------------------------------*/
/*   HEADER   */
/*----------------------------------------------------------*/
.hero-text-box {
    position: absolute;
    width: 1149px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) 
  }
  
  
  header { 
    background-image: linear-gradient(#0000005b,#0000005b), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  
  .logo{
    height:100px ;
    width: auto;
    float: left;
    margin-top: 20px;
    margin-left: 50px;
  }   
  
  .main-nav{
    float: right;
    list-style: none;
    margin-top: 50px;
    margin-right:50px;
  
  }
  
  .main-nav li{
    display: inline-block;
    margin-left: 40px;
  }
  
  .main-nav li a:link,
  .main-nav li a:visited {
    padding: 8px 0;
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px Solid transparent;
    transition: border-bottom 0.2s;
  }
  
  .main-nav li a:hover,
  .main-nav li a:active {
    border-bottom: 2px Solid #e67e22;
  }


/*----------------------------------------------------------*/
/*  BUTTONS    */
/*----------------------------------------------------------*/

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 40px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.2s,; border:  0.2s,; color:  0.2s;  
}


.btn-ful:link,
.btn-ful:visited{
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color:#ffff;
  margin-right: 15px;
}

.btn-half:link,
.btn-half:visited{
  border: 1px solid #e67e22;
  color: #e67e22;
}

.btn:hover,
.btn:active{
  background-color: #cf6d17;
}


.btn-ful:hover,
.btn-ful:active{
  border: 1px solid #cf6d17;;

}

.btn-half:hover,
.btn-half:active{
  border: 1px solid #cf6d17;
  color: #fff;
}

/* slide */
****** SLIDER **********/
.slider {
    max-width: 440px;
    margin: 0px auto 30px auto;}
  
  .slide-viewer {
      position: relative; /* needed for IE7 */
      overflow: hidden;
      height:430px;
      margin-left: 30px}

  
  .slide-group {
      width: 100%;
      height: 100%;
      position: relative;}
  
  .slide {
      width: 100%;
      height: 100%;
      display: none;
      position: absolute;}
  
  .slide:first-child {
      display: block;}
  
.sliderss{
    margin-top: 12%;
    margin-left: 5%;
    position: center;
}
  
  /********** BUTTONS **********/
  .slide-buttons {
    text-align: center;}
  
  .slide-btn {
    border: none;
    background: none;
    color: #000;
    font-size: 200%;
    line-height: 0.5em;}
  
  .slide-btn.active, .slide-btn:hover {
    color: #ed8e6c;
    cursor: pointer;}

  
/* ============================ */
/* TESTIMONIALS */
/* ============================ */
.section-testimonials{
  margin-top: 2%;
}
blockquote{
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 40px;
}

blockquote:before{
  content: "\201C";
  font-size: 500%;
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
}

cite{
  font-size: 90%;
  margin-top: 0px;
  display: block;
}

cite img{
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}
  

/* forma */
        input[type=text],
        input[type=password],
        select
         {
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border-radius: 7px;
        }
        input[type=text],
        input[type=password] :hover{
            width: 100%;
            border: 1px solid #2917cf;
            color: rgb(0, 0, 0);
            background-color: #ffffff;transition: background-color 0.2s,; border:  0.2s,; color:  0.2s;  
            }
     .one{
         margin-top: 18%;
         margin-left: 25%;
        margin-right: 25%;
     }
.o{
width: 30%;
height: 34px;
color: black;
background-color: rgb(208, 247, 136);
margin-left: 30%;
}


/* ============================ */
/* FOOTER*/
/* ============================ */
footer{
  background-color: rgba(180, 124, 21, 0.418);
  padding: 50px;
  font-size: 80%;
}

.footer-nav{
  list-style: none;
  float: left;
}

.social-links{
  list-style: none;
  float: right;
}

.footer-nav li,
.social-links li{
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child{
  margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
  text-decoration: none;
  border: none;
  color: rgb(0, 0, 0);
}

.footer-nav li a:hover,
.footer-nav li a:active{
  color: rgb(2, 1, 1);
}

.social-links li a:link,
.social-links li a:visited{
  font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram{
  transition: color 0.2s;
}

.ion-social-facebook:hover{
  color: #3b5998;
}

.ion-social-twitter:hover{
  color: #00aced;
}

.ion-social-googleplus:hover{
  color: #dd4b39;
}

.ion-social-instagram:hover{
  color: #517fa4;
}

footer p{
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 20px;
}
     /* grid */
.span-1-of-2 {
  display: block;
  float: left;
  width: 49.2%;
    }

